<app-navbar></app-navbar>
<div class="expense-form-data">
  <mat-card>
    <mat-card-title>Add new Expense</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline" >
        <mat-label>Item purchased</mat-label>
        <input matInput [(ngModel]="expenseVO.name">
        <!-- <mat-hint *ngIf="validatonErrorObj.name">{{validatonErrorObj.name}}</mat-hint> -->
      </mat-form-field>

      <label class="custom-form-field" [ngClass]="{'error':validatonErrorObj.advertiser}">
        <mat-form-field class="example-full-width" appearance="outline">
          <input title="{{campaignVO.advertiser?campaignVO.advertiser.advertiserName:''}}" type="text" [(ngModel)]="campaignVO.advertiser"
            aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='getCakeCreativeList($event.option.value);validatonErrorObj.advertiser=undefined'>
            <mat-option title="{{option.advertiserName}}" *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.advertiserName}}
            </mat-option>
          </mat-autocomplete>
          <mat-label>Advertiser</mat-label>
          <!-- <mat-hint *ngIf="validatonErrorObj.advertiser">{{validatonErrorObj.advertiser}}</mat-hint> -->
        </mat-form-field>
      </label>
    </mat-card-content>
  </mat-card>
</div>