.fixed-top{
    position: absolute;
    top: -5px;
    right: 0px;
    left: -8px;
    z-index: 1007
}
.nbar-container{
    height: 2%;
    display: flex;
    background-color: #2a6346;
    width: 100%;
    margin: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    text-align: center;
    z-index: 100;
    position: relative;
    overflow: unset;
    // overflow-x: hidden;
    max-width: calc(100% + 15px);
    .nbar-text{
        text-align: center;
        //width: calc(var(--navbar-width)/2);
       // left: calc(var(--navbar-width)/2);;
        display: block;
        margin: 13px;
        font-size: 16px;
        font-weight: bold;

    }
    .i{
        align-self: center;
    }
    
}
